@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header{
    background-color: aquamarine;
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

}
header button, .popup{
    display: none;

}
nav a{
    text-decoration: none;
    color: black;
    margin: 1vw;
}

main{
    height: 80vh;
    margin: 0 10%;
    box-sizing: border-box;
    
}
footer{
    height: 10vh;
    text-align: center;
    background-color: aquamarine;
    display: flex;
   align-items: center;
    justify-content: center;
    font-size: 32px;
}
.search-section{
    
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-section div input[type="text"] {
    background-color: black;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    margin: 2vw;
    width: 45vw;
    color: aquamarine;
    font-size: 32px;
    padding: 1vw;

}
.search-section div input[type="number"] {
    width: 10vw;
    padding: 2vw 3vw;
    font-size: 2vw;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    margin: 2vw;

}
.search-section div{
    
    display: flex;
    align-items: baseline;
}
.search-section button{
    font-size: 2vw;
    width: 10vw;
    background-color: aqua;
    padding: 2vw 2vw;
    border-radius: 5px;
    outline: none;
    border: none;

}

.results{
    height: 70%;
    display: flex;
    
}
.result-section{
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: space-around;
    align-self: flex-end;

}

.result-section img{
    width: 300px;
    height: 200px;
    margin: 4vw;
}

header button{
    background-color: aquamarine;
    border: none;
}
@media only screen and (max-width:380px) {
    body{
        
        
    }
   header button{
    display: block;
   } 
   .popup{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    background-color: aqua;
    height: 80vh;
   }
   .popup a{
    margin: 4vw;
    font-size: 5vw;
    text-decoration: none;
    background-color: black;
    padding: 2vw 2vw;
    width: 50vw;
    text-align: center;
    color: aquamarine;
    border-radius: 5px;

   }
   header nav{
    display: none;
   }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0.253);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

